@charset"UTF-8";
/* hack css */
#TopMain,
#BtmMain,
.selectbox,
.txtbox,
#Popup #BtmBtn
{display:inline-block;}


#TopMain:after,
#BtmMain:after,
.selectbox:after,
.txtbox:after,
#Popup #BtmBtn:after
{content: ".";display: block;height: 0;clear: both;visibility: hidden;overflow: hidden;}



/* Hide from IE-mac \*/
*html #TopMain,
*html #BtmMain,
*html .selectbox,
*html .txtbox,
*html #Popup #BtmBtn
{height: 1%;}


#TopMain,
#BtmMain,
.selectbox,
.txtbox,
#Popup #BtmBtn
{display: block;}
/* End hide fromIE-mac*/

